.credentials-container {
  padding: 3rem;
  border-radius: 1rem;
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.credentials-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

.credentials-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--enam-blue);
}

.credentials-row {
  display: flex;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  font-family: var(--primary-font);
}

.credentials-label {
  padding: 1.2rem;
  font-weight: bold;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  flex: 1;
}

.credentials-value {
  padding: 1.2rem;
  text-align: left;
  flex: 1;
  font-weight: 500;
}

/* Responsive Styling for Mobile */
@media screen and (max-width: 890px) {
  .credentials-table {
    grid-template-columns: 1fr;
  }

  .credentials-row {
    display: block;
    margin-bottom: 1rem;
    border-bottom: none;
  }

  .credentials-label,
  .credentials-value {
    display: block;
    border: none;
    width: 100%;
    text-align: left;
    padding: 1rem;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
