.investment-philosophy {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
}

.investment-philosophy h2 {
  font-family: var(--heading-font);
  background-color: rgb(249, 249, 249);

  padding: 3%;
  border-radius: 10px;
}
.sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sections h3 {
  color: rgb(8, 8, 98);
}
.section-text {
  padding: 15px 0;
}

.value-cards {
  margin-top: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;

  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  justify-items: stretch;
  /* justify-items: center; */
  margin-bottom: 30px;
}

.value-card {
  margin-top: 10px;
  background-color: var(--second-blue);
  color: rgb(0, 0, 0);
  padding: 30px 20px;
  border: 2px solid var(--enam-blue);
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-family: var(--special-font2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.value-card-icon {
  padding: 5%;
}
.value-card-icon svg {
  width: 100%;
}

.value-card-title h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.background-video-container2 {
  padding-bottom: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.investment-philosophy .quote {
  padding: 3%;
  margin: 20px 0;
  background: rgb(22, 24, 77);
  background: linear-gradient(
    90deg,
    rgba(22, 24, 77, 1) 0%,
    rgba(94, 87, 212, 0.7702730750503326) 2%,
    rgba(255, 255, 255, 1) 100%
  );
}
.investment-philosophy .quote .context {
  font-family: var(--quotes);
  font-size: 200%;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 10px;
}
.background-video2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49%;
  object-fit: cover; /* Ensures video covers the entire section */

  z-index: -1; /* Places video behind content */
}

@media (max-width: 1000px) {
  .background-video2 {
    height: 39%;
  }
  .investment-philosophy h2 {
    margin-top: 10%;
  }
  .value-cards {
    max-width: 100%;
  }
  .value-card {
    height: fit-content;
  }
}
