.member-detail-page {
  display: flex;
  padding: 2rem;
}
.member-detail-page h1,
.member-detail-page h3 {
  font-family: var(--heading-font);
}
.member-detail-content {
  padding: 2rem;
}
.member-image {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: transform 0.3s ease;
}
.member-image:hover {
  transform: scale(1.01);
}
@media (max-width: 768px) {
  .member-detail-page {
    flex-direction: column;
  }
}
