/* Reset all common user agent styles */



.privacy-policy-content{
  font-family: var(--primary-font);
  padding: 2%;
}
.privacy-policy-content h4{
  margin:0;
  font-family: var(--heading-font);
  font-size: 18px;
}
.privacy-policy-content .privacy-section{
  margin-bottom: 3%;
  margin-top:0
}
.privacy-policy-content .privacy-section p{
  margin-bottom: 3%;
  margin-top:0
}
.privacy-policy-content .privacy-section ul{
  margin-bottom: 3%;
  margin-top:0
}